.create-project-modal {
    width: 25%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    transform: translate(150%, 50%);
    border-radius: 100px;
}

.create-project-modal-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-project-modal-content > div {
    width: 100%;
    height: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-project-modal-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.create-project-modal-box > input {
    margin: 10px;
}

input[type=submit] {
    padding: 5px 15px; 
    background: black;
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
}

textarea {
    margin: 10px;
    width: 100%;
    height: 100%;
}